In [8]:
import pandas as pd
import numpy as np

In [13]:
movies = pd.read_csv('data/ml-latest-small/movies.csv')
ratings = pd.read_csv('data/ml-latest-small/ratings.csv')
ratings.drop(['timestamp'], axis=1, inplace=True)

In [14]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [15]:
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [16]:
def replace_name(x):
    return movies[movies['movieId']==x].title.values[0]

ratings.movieId = ratings.movieId.map(replace_name)

In [17]:
ratings.head()

   userId                                         movieId  rating
0       1                          Dangerous Minds (1995)     2.5
1       1                                    Dumbo (1941)     3.0
2       1                                 Sleepers (1996)     3.0
3       1                     Escape from New York (1981)     2.0
4       1  Cinema Paradiso (Nuovo cinema Paradiso) (1989)     4.0

In [18]:
M = ratings.pivot_table(index=['userId'],columns=['movieId'], values='rating')

In [20]:
M.shape

(671, 9064)

<B>Pearson Correlation:</B>
<img src='https://wikimedia.org/api/rest_v1/media/math/render/svg/43219265dc2c827cb4f5b34f2e3fb797bed2e820'/>

In [21]:
def pearson(s1, s2):
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c *s2_c)/ np.sqrt(np.sum(s1_c**2)*np.sum(s2_c**2))

In [22]:
pearson(M['\'burbs, The (1989)'],M['Erin Brockovich (2000)'])

0.019057207176268978

In [24]:
pearson(M['Mission: Impossible II (2000)'], M['Erin Brockovich (2000)'])

0.07018573611021599

In [29]:
def get_recs(movie_name, M, num):
    reviews = []
    for title in M.columns:
        if title == movie_name:
            continue
        cor = pearson(M[movie_name], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    reviews.sort(key=lambda tup: tup[1], reverse=True)
    return reviews[:num]

In [37]:

recs = get_recs('Harry Potter and the Half-Blood Prince (2009)', M, 10)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in double_scalars
  after removing the cwd from sys.path.

In [38]:
recs[:10]

[('Becoming Jane (2007)', 0.5212127813724854),
 ('Just My Luck (2006)', 0.5212127813724854),
 ('Many Adventures of Winnie the Pooh, The (1977)', 0.47340009250248516),
 ("She's the Man (2006)", 0.45495181406054924),
 ('Harry Potter and the Order of the Phoenix (2007)', 0.44215983816788573),
 ('16 Blocks (2006)', 0.4270857163014595),
 ('Harry Potter and the Goblet of Fire (2005)', 0.40584519821514414),
 ('Harry Potter and the Deathly Hallows: Part 2 (2011)', 0.4039468277924978),
 ('Buried (2010)', 0.39090958602936404),
 ('Pontypool (2008)', 0.39090958602936404)]

In [39]:
anti_recs = get_recs('Harry Potter and the Half-Blood Prince (2009)', M, 855)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in double_scalars
  after removing the cwd from sys.path.

In [40]:
anti_recs[-10:]

[('Muppet Movie, The (1979)', 0.07474913720448612),
 ('Michael Collins (1996)', 0.0744534350475417),
 ("Nick and Norah's Infinite Playlist (2008)", 0.07440999891261918),
 ('Beetlejuice (1988)', 0.07435076455587675),
 ('Happy Gilmore (1996)', 0.07430569659117985),
 ('Indian in the Cupboard, The (1995)', 0.07429795167047173),
 ('Hidden (a.k.a. Cache) (Cach√©) (2005)', 0.07424465634035546),
 ('Blue Crush (2002)', 0.07413802493660349),
 ('Commando (1985)', 0.07413802493660349),
 ('Pirates of Silicon Valley (1999)', 0.07413802493660349)]